.footer-section{
    background-color: black;
    position: relative;
    top: 400px;
    height: 30vh;
    width: 100%;
    
}

.footer-header{
    color: white;
    display: inline-block;
}